*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Rock Salt", cursive;
}


.menu{
    height: 790px;
    background-image: url(../img/Menu.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo{
    padding-right: 100px ;
}

html{
    scroll-behavior: smooth;
}

a{
    color: rgb(255, 255, 255);
    margin-left: 15px ;
    text-decoration: none;
    font-size: 16px;
}   

a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.primer_seccion{
    height: 1000px;
    background-color: rgb(41, 112, 194);
}

.primer_texto{
    padding-top: 100px;
    text-align: center;
    color: white;
}

.primer_texto p{
    padding-top: 15px;
    color: white;
}

.imagenes{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.descripciones{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.segunda_seccion{
    height: 900px;
    background-color: rgb(115, 72, 155);

}

.segundo_texto{
    text-align: center;
    padding-top: 50px;
    color: white;
    
}
.descripciones2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.banner{
    padding-top: 50px;
}

.tercera_seccion{
    height: 640px;
    background-color: rgb(107, 64, 64);
}

.imagenes2{
    margin-top: 25px;
    padding-left: 50px;
}

.tercer_texto{
    text-align: center;
    padding-top: 50px;
    color: aliceblue;
}

.cuarta_seccion{
    height: 600px;
    background-color: rgb(86, 155, 69);
    text-align: center;
    color: aliceblue;
    padding-top: 50px;
}

.videos{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.pie{
    height: 100px;
    text-align: end;
    padding-top: 50px;
    padding-right: 25px;
    background-color: rgb(90, 90, 90);
    color: aliceblue;
}